<div class="map">
    <div class="map-header">
        <div class="col-md-1">
            <button class="glyphicon"
                    ng-class="{'glyphicon-pause': alive, 'glyphicon-play': !alive}"
                    ng-click="toggle()"></button>
        </div>
        <div class="col-md-10">
            <slider style="width:100%" ng-if="range.length" step="1" floor="0"
                    ceiling="{{ range.length - 1 }}" on-drag="validateRangeSelection"
                    ng-model="select.rangeSelect" translate-fn="dateFormatting"></slider>
        </div>
        <div class="col-md-1">
            <!--<select ng-model="select.metric" ng-options="value for value in [0,1,2,3,4,5,6]"></select>-->
            <button class="glyphicon"
                    ng-class="{'glyphicon-align-left': select.metric, 'glyphicon-align-center': !select.metric}"
                    ng-click="select.metric = 1-select.metric" ng-show="select.metric <= 1"></button>
        </div>
    </div>
    <div class="map-content">
        <div class="date-display">{{ select.date.toLocaleString("fr", { month: "long" }) }}</div>
        <canvasmap metric="select.metric" zones="gis" background-zones="depts" data="data"
                   ng-if="data" ng-model="select.city" color-fn="colorMap"></canvasmap>
    </div>
</div>
<div class="city" ng-controller="CityController" ng-if="select.city">

    <h2>{{ data.label }}</h2>

    <div style="float:right;">
        <label><input type="checkbox" class="glyphicon" ng-change="toggleSimilar(select.viewSimilar)" ng-model="select.viewSimilar"/>
            &nbsp;Voir similaire</label>
    </div>
    <h4 ng-if="data.clusters">Catégorie : {{ clusterLabel(data.clusters[2]) }}</h4>
    <h5>Mesure moyenne d'activité</h5>
    <highchart class="chart gauge" config="gaugeConfig"></highchart>
    <h5>Caractéristique de l'activité</h5>
    <highchart class="chart" config="characteristicConfig"></highchart>
    <h5>Équilibre des activités</h5>
    <highchart class="chart" config="balanceConfig"></highchart>
</div>