* {
    box-sizing: border-box;
}

html {
    font-family: "helvetica neue", helvetica, arial, ubuntu, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

@import "modules/canvasmap.less";
@import "modules/slider.less";
@import "modules/layout.less";