<!DOCTYPE html>
<html>
    <head>
        <title>Carte activité</title>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

        <!-- build:css css/vendors.css --><% bowerCss.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>"><% }); %>
        <!-- endbuild -->

        <!-- build:css(.tmp) css/base.css -->
        <link href="css/base.css" type="text/css" rel="stylesheet" />
        <!-- endbuild -->

        <!-- build:js js/vendors.js --><% bowerJs.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
        <% vendorsJs.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
        <!-- endbuild -->

        <!-- build:js(.tmp) js/scripts.js --><% appJs.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
        <!-- endbuild -->
    </head>
    <body ng-app="xdata" ng-controller="RootController">
        <div class="loading" ng-show="loading"><i class="fa fa-spinner fa-spin"></i></div>

        <div id="page" ng-if="!loading" class="toggle" ui-view="main"></div>
    </body>
</html>
