.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 40%;
    padding: 10px;
    border-right: 1px solid black;
}
.map-header {
    height: 60px;
    .col-md-1 {
        line-height: 60px;
    }
}
.map-content {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
}

.city {
    width: 40%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.date-display {
    position: absolute;
    font-size: 2em;
    background: white;
    padding: 10px;
    z-index: 1;
    text-transform: capitalize;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px 0px;
}
.chart {
    width: 100%;
    display: block;
    height: 25%;
}
.gauge {
    height: 15%;
}